{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <p>请您填写个人信息，方便我们联系到您与报酬转账、报销，请务必保证信息的准确性！</p>
    <h5>1 基础信息</h5>
    {% formfield player.name %}
    {% formfield player.age %}
    {% formfield player.gender %}
    {% formfield player.ethics %}
    <br>
    <br>
    <h5>2 您的职业</h5>
    {% formfield player.occupation %}
    <br>
    <br>
    <h5>3 您的宗教信仰</h5>
    {% formfield player.religion %}
    <br>
    <br>
    <h5>4 受教育水平（已获得学位）</h5>
    {% formfield player.education %}
    <br>
    <br>
    <h5>5 以下哪一项最好地描述了您的婚恋状况</h5>
    {% formfield player.marriage %}
    <br>
    <br>
    <h5>6 请选择以下选项来表明自己的性取向</h5>
    {% formfield player.sexual %}
    <br>
    <br>
    <br>
    <br>
    {% next_button %}


{% endblock %}
