{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <h4>欢迎参加本研究调查！</h4>
    <br>
    <p>我们想了解<b>关于个体的决策行为以及对他人决策的认识</b>。 我们将向您提供与与研究话题相关的信息，并询问您一些与此有关的问题。 您的回答将完全保密，请放心。</p>
    <p>此研究<b>需约20-30分钟</b>的时间即可完成，参与后您将获得<b>20-40元报酬(具体数额由您的任务表现决定)</b>。您参与此项研究纯属自愿。 您有权因任何原因在调查期间随时退出，并且不会对您产生任何偏见。
        如果您想联系研究负责人讨论此研究，请发送电子邮件至<b>1045418215@qq.com</b>。</p>
    <p>点击同意按钮即表示您自愿参与此调查，您已年满 15 周岁，且了解您可以因任何原因随时选择终止参与此调查。</p>
    <p>选择同意将进入研究，且将在完成前不可离开该页面；选择不同意则研究将直接结束。</p>
    {% formfield player.consent %}
    <br>
    <p>另：此调查在笔记本或台式电脑上的显示效果最佳。在移动设备上使用时，某些功能的兼容性可能稍差。 </p>


    <br>
    <br>
    <br>
    <br>
    {% next_button %}


{% endblock %}
