{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <br>
    <p>请您仔细阅读以下指导语：</p>
    <p>  以下是高尔顿盒决策实验。参与者选择是否将硬币投入高尔顿盒中。高尔顿盒装置如图，硬币投入区能保证硬币从中央落入，下方绿、蓝两空间体积相等。规则如下： </p>
    <p>（1）若将硬币投入高尔顿盒，落入绿色区域则获得￥5，落入蓝色区域则没有收益； </p>
    <p>（2）若不投硬币，则直接获得￥2.5。 </p>
    <div align="center"><img src="{% static 'coverstory/newbox.png' %}" width="30%" height="30%"/></div>
    <br>
    <p>  每位参与者进行5个回合的高尔顿盒决策游戏，参与者均知道自己每完成回合的实际收益。我们记录并会向您展示每位参与者每回合的选择和实际收益。其中，前4个回合由参与者自己选择是否将硬币投入高尔顿盒中。第5个回合不由参与者自己选择，而是直接自动投币，最终参与者获得的收益即为实验参与的报酬。</p>
    <p>
        下图是033号参与者5个回合的数据示意（单位省略）请您参照示意图熟悉下列描述：</p>
    <p>033号参与者在第1、3、4回合<b>选择投币</b>>，第1和4回合硬币进入蓝色区域没有收益，而第3回合硬币进入绿色区域拿到收益￥5；第2回合033号参与者<b>选择不投币</b>>，直接获得收益￥2.5。第5回合，直接自动投币，且硬币进入绿色区域拿到收益￥5。 </p>
    <div align="center"><img src="{% static 'coverstory/P1_1.png' %}"/></div>
    <br>
    <p>
        综上，希望您已经充分理解参与者行为与获得收益之间的关系：</p>
    <p>①若选择<b>不投币（图示为红色‘×’）</b>，则收益就是<b>￥2.5</b>；②若选择<b>投币（图示为红色‘√’）</b>，则收益可能为<b> ￥5 </b>或<b> 0 </b>，由高尔顿盒的结果决定。  </p>
    <hr>
    <div align="center">
        <p>接下来您将看到032、034两位参与者的部分数据，请您结合自己的理解和下表中的部分数据判断下列陈述是否正确： </p>
        <img src="{% static 'coverstory/P1_2.png' %}"/></div>
    <br>
    <div align="center">
        {% formfield player.check_q1 %}
        <br>
        {% formfield player.check_q2 %}
        <br>
        {% formfield player.check_q3 %}
        <hr>
        <br>
        <br>
        <br>
        <br>
        {% next_button %}
    </div>


{% endblock %}

