{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    行为决策实验
{% endblock %}

{% block content %}
<hr>
<p>下列是两名参与者的前4回合部分数据，按规则第5轮必须投币。结合已提供的信息，他们认为自己在第5轮拿到5元的可能性各为多少？【0:不可能   100:必然】 </p>
<hr>
<br>
<div align="center">
    <img src="{% static 'vo_tom/P3_Vo1.png' %}" />
</div>
<br>
<div align="center">
<div class="input-group" >
    <div class="input-group-prepend">
        <span class="input-group-text">不可能</span>
    </div>

    <input type="range" name="tom2_m1" min="1" max="100" step="1" class="form-control">

    <div class="input-group-append">
        <span class="input-group-text">必然</span>
    </div>
</div>
</div>

<hr>
<br>
<div align="center">
    <img src="{% static 'vo_tom/P3_Vo2.png' %}" />
</div>
<br>
<div align="center">
<div class="input-group" >
    <div class="input-group-prepend">
        <span class="input-group-text">不可能</span>
    </div>

    <input type="range" name="tom2_m2" min="1" max="100" step="1" class="form-control">

    <div class="input-group-append">
        <span class="input-group-text">必然</span>
    </div>
</div>
</div>

<hr>
<br>
<div align="center">
    {% next_button %}
</div>
{% endblock %}
