{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    行为决策实验
{% endblock %}

{% block content %}
    <hr>
    <p>下列是三名参与者的前4回合部分数据，按规则第5轮必须投币。结合已提供的信息，请您推测<b><u>他们认为自己</u></b>在第5轮拿到5元的可能性为多少？【用0-100的任意整数表示，0表示完全不可能；100表示必然会拿到；数字越大表明可能性越大】 </p>
    <hr>
    <br>
<div align="center">
<div align="center">
    <div align="center">
        <img src="{% static 'vo_tom/P1_Vo1.png' %}"/>
    </div>
    <br>
    <p>您推测TA认为可能性为</p>
    {% formfield player.tom1_b1 %}

    <hr>
    <br>
    <div align="center">
        <img src="{% static 'vo_tom/P1_Vo2.png' %}"/>
    </div>
    <br>
    <p>您推测TA认为可能性为</p>
    {% formfield player.tom1_b2 %}

    <hr>
    <br>
    <div align="center">
        <img src="{% static 'vo_tom/P1_Vo3.png' %}"/>
    </div>
    <br>
    <p>您推测TA认为可能性为</p>
    {% formfield player.tom1_b3 %}
</div>
</div>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <div align="center">
        {% next_button %}
    </div>
{% endblock %}
