{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    行为决策实验
{% endblock %}

{% block content %}
    <hr>
    <p>以下是三名参与者前4回合的部分数据，按规则第5轮必须投币。结合已提供的信息，<b><u>您认为他们</u></b>在第5轮拿到5元的可能性为多少？【用0-100的任意数字表示，0表示完全不可能；100表示必然会拿到；数字越大表明可能性越大】 </p>
    <hr>
    <br>
    <div align="center">
        <img src="{% static 'vo_tom/P1_Vo1.png' %}"/>
    </div>
    <br>

    <div align="center">
        <div class="form-group required">
            <div class="controls  field-rule_obtain">
                <div class="input-group slider" data-slider="">
                    <div class="input-group-prepend">
                        <span class="input-group-text">0</span>
                    </div>
                    <input type="range" name="vo1_b1" value="None" required="" id="id_rule_obtain"
                           class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">100</span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-slider-value="" title="current value">50</span>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <hr>
    <br>
    <div align="center">
        <img src="{% static 'vo_tom/P1_Vo2.png' %}"/>
    </div>
    <br>
    <div align="center">
        <div class="form-group required">
            <div class="controls  field-rule_obtain">
                <div class="input-group slider" data-slider="">
                    <div class="input-group-prepend">
                        <span class="input-group-text">0</span>
                    </div>
                    <input type="range" name="vo1_b2" value="None" required="" id="id_rule_obtain"
                           class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">100</span>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" data-slider-value="" title="current value">50</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>
    <br>
    <br>
    <br>
    <br>
    <div align="center">
        {% next_button %}
    </div>
{% endblock %}
