{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <div align="center">
        <br>
        <h3>第 {{ player.round_number }} 回合</h3>
        <br>
        <p>请您选择是否向高尔顿盒中投入硬币</p>
        <div><img src="{% static 'dynamic/newbox.png' %}" width="30%" height="30%"/></div>
        <br>
        {% formfield player.choice %}
        <br>
        <br>
        <br>
        <br>
        {% next_button %}
    </div>

{% endblock %}
