{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <p>接下来您将完成一个与决策相关的游戏。游戏过程中使用的代币在游戏结束后会以一定的比例兑换成现金作为您参加实验所得报酬的一部分。实验结束后，我们会计算出您在游戏过程中获得的游戏币数量，并兑换成现金作为您的实验报酬。游戏开始前请您认真阅读游戏的规则。 </p>
    <br>
    <br>
    <h5>【游戏规则】</h5>
    <hr>
    <p> 游戏有若干个回合，每个回合中，首先请您选择是否向下图的高尔顿盒中投入硬币，您可以选择投入硬币，也可以拒绝投硬币。</p>
    <br>
    <div align="center"><img src="{% static 'dynamic/box.png' %}" /></div>
    <br>
    <br>
    <p>如果您选择投硬币，那么这一回合您的个人收益将由硬币落入区域的情况决定：</p>
    <div style="text-indent: 2em">
    <p>1. 若落入绿色区域，您将获得￥5收益；</p>
    <p>2. 若落入蓝色区域，您将没有收益；</p>
    </div>
    <p>如果您拒绝投硬币，那么您的个人收益<b><u>将按照特定的规则确定，该规则不会随着回合不同而发生变化。</u></b></p>
    <hr>
    <p>系统将随机选择一些回合，在这些回合中将由程序自动决定是否投币，您的收益依然由硬币落入的区域决定，在这些回合开始时系统会提示您【该回合已被选中】。</p>
    <p>实验过程中每回合会向您反馈该回合的收益，在实验结束时，程序后台会从所有回合中随机抽取四个回合，来计算您在这个游戏中的最终收入，计入您的实验报酬中。同时您在游戏中的表现所形成的数据可能作为进一步的实验研究的材料或者项目展示的案例。</p>
    <hr>
    {% formfield player.agreement %}
    <br>
    <br>
    <br>
    <br>
    {% next_button %}

{% endblock %}
