{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <p><b>接下来您将作为参与者完成高尔顿盒决策游戏，该游戏与先前的高尔顿盒决策游戏差异会用粗体字强调。</b>></p>
    <br>
    <br>
    <h5>【游戏规则】</h5>
    <hr>
    <p> 本次高尔顿盒决策游戏规则如下: <b>游戏有若干个回合</b>，每个回合中，请您选择是否向高尔顿盒中投入硬币，您可以选择 投入 或者 不投入 硬币。</p>
    <br>
    <div align="center"><img src="{% static 'dynamic/newbox.png' %}" width="30%" height="30%" /></div>
    <br>
    <br>
    <p>如果您选择投硬币，那么这一回合，您的个人收益由硬币落入区域的情况决定：</p>
    <div style="text-indent: 2em">
    <p>1. 若落入绿色区域，您将获得￥5收益；</p>
    <p>2. 若落入蓝色区域，您将没有收益；</p>
    </div>
    <p>如果您选择不投币，那么您的个人收益<b><u>将按照某特定的规则执行，该规则对于所有回合都是恒定的，不会发生变化。</u></b></p>
    <p><b>【注意：选择不投币将不再是直接收获￥2.5，而是以特定的规则产生收益】</b></p>
    <hr>
    <p>其中<b>一些回合</b>，系统会自动决定投币，这些系统选定的回合开始时，系统会提示您【该回合已被选中】。</p>
    <p>实验过程中每回合会向您反馈该回合的收益，在实验结束时，程序后台会从所有回合中随机抽取四个回合，来计算您在这个游戏中的最终收入，计入您的实验报酬中。同时您在游戏中的表现所形成的数据可能会以匿名编号形式作为进一步的实验研究的材料或者项目展示的案例。</p>
    <hr>
    {% formfield player.agreement %}
    <br>
    <br>
    <br>
    <br>
    {% next_button %}

{% endblock %}
