{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    决策行为实验
{% endblock %}

{% block content %}
    <hr>
    <div align="center">
        <br>
        <h3>第 {{ player.round_number }} 回合</h3>
        <br>
        <p>本回合已被系统选中，将直接投币</p>
        <p>请问您认为自己本回合获得￥5的可能性有多大？【用0-100的任意整数表示，0表示完全不可能；100表示必然会拿到；数字越大表明可能性越大】</p>
        <br>

        {% formfield player.possibility }}
        <br>
        <p>请问您认为您在多大程度上掌握了不投币情况下收益生效的规则？【用0-100的任意整数表示，0表示完全没有理解；100表示完全理解了；数字越大表明可能性越大】</p>
        <br>

        {% formfield player.rule_prob }}

        <br>
        {% next_button %}
    </div>

{% endblock %}